@model FacultyStudentView

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-lg-2">
                        <div class="profile-image-wrapper">
                            <div class="profile-image" style="background-image: url('@(Model.ProfileImageUrl != null ? Model.ProfileImageUrl : "/img/noimage.png")')"></div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-10">
                        <h3 class="header-title text-dark">@Model.FullName</h3>
                        <div>
                            <strong class="mr-2">Indeks:</strong>@Model.Index
                        </div>
                        <div>
                            <strong class="mr-2">E-mail:</strong><a href="mailto:@(Model.Email)">@Model.Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model.AssignedThesis == null)
                {
                    <h4>Nemate dodeljenu temu</h4>
                }
                else
                {
                    <h5 class="text-success">Dodeljena tema</h5>
                    <h4>@Model.AssignedThesis.Title</h4>
                    <p>@Model.AssignedThesis.ShortDescription</p>
                    <a class="btn btn-primary" asp-action="ThesisSingle" asp-controller="Thesis" asp-route-id="@Model.AssignedThesis.Id">Pogledaj temu</a>
                }
            </div>
            @if (User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value == Model.Id)
            {
                <div class="card-footer">
                    <a asp-action="ShowRequests" asp-controller="Request">Prikaži moje zahteve</a>
                </div>
            }
            </div>
    </div>
</div>