@model ThesisView

<div class="row">
    <div class="@(Model.DateCreated != null ? "col-lg-9" : "col-12")">
        <form asp-controller="Thesis" asp-action="UpdateThesis" method="post" id="thesisForm">
            @Html.AntiForgeryToken()
            @if (Model.Id != 0)
            {
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            }
            <div class="form-group">
                <label asp-for="Subject.Id">Predmet</label><br>
                <SubjectsSelect name="Subject.Id" user-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value"
                                selected-id="@(Model.Subject == null ? 0 : Model.Subject.Id)" class="selectpicker"></SubjectsSelect>
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title">Naziv teme</label>
                <input type="text" asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription">Kratak opis teme</label>
                <input maxlength="300" asp-for="ShortDescription" class="w-100 form-control"></input>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription">Pun opis</label>
                <textarea cols="10" asp-for="Discription" class="w-100 form-control"></textarea>
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                @if (Model.DatePublished == null)
                {
                    <button type="submit" class="btn btn-primary" data-toggle="tooltip" 
                            data-placement="top" title="Svi članovi mogu videti temu">Objavi</button>
                    <button type="button" class="btn btn-outline-primary" id="saveDraftThesis"
                            asp-action="SaveDraft" asp-controller="Thesis"
                            data-toggle="tooltip" data-placement="top" title="Sačuvaj bez objavljivanja">
                        Sačuvaj
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Ažuriraj</button>
                }
                
            </div>
        </form>
    </div>
    @if(Model.DateCreated != null)
    {
        <div class="col-lg-3">
            <label>Kreirano: @Model.DateCreated</label>
            @if (Model.DateUpdated != null)
            {
                <label>Azurirano: @Model.DateUpdated</label>
            }
            @if (Model.DatePublished != null)
            {
                <label>Objavljeno: @Model.DatePublished</label>
            }
            <a class="btn btn-danger" asp-action="DeleteThesis" asp-controller="Thesis" asp-route-id="@Model.Id">Izbriši</a>
        </div>
    }
    
</div>